{{template "header"}}
    	<title>{{.Topic.Title}} - 匿名社区</title>
  	</head>

	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				{{template "navbar" .}}
			</div>	
		</div>
		
		<div class="container">
			{{$lables := .Lables}}
			{{with .Topic}}
			<h1>{{.Title}} <small>{{.Category}}</small></h1>
			<h5>
				{{range $lables}}
				<a href="/?lable={{.}}">{{.}}</a>
				{{end}}
			</h5>
			
			{{.Content}}
			<h5>附件：<a href="/attachment/{{.Attachment}}">{{.Attachment}}</a></h5>
			{{end}}
		</div>

		</div class="container">
			{{$tid := .Topic.Id}}
			{{$isLogin := .IsLogin}}
			{{range .Replies}}
			<h3>{{.Name}} <small>{{.Created}}</small>{{if $isLogin}}<a href="/reply/delete?tid={{$tid}}&rid={{.Id}}">删除</a>{{end}}</h3>
			{{.Content}}
			{{end}}

			<h3>回帖</h3>
			<form method="post" action="/reply/add">
				<input type="hidden" name="tid" value="{{.Topic.Id}}">
			  <div class="form-group">
					<label>content:</label>
					<textarea name="content" id="" cols="30" rows="10" class="form-control"></textarea>
				</div>
				<button class="btn btn-default">提交</button>
			</form>

			<h3>点赞</h3>
			<form method="post" action="/topic">
					<input type="hidden" name="tid" value="{{.Topic.Id}}">
				<div class="form-group">
						<div class="col-lg-offset-4 col-lg-10">
						<div class="checkbox">
							<label>
								<input name="like" type="checkbox">赞
							</label>
						</div>
						</div>
				</div>
					<button class="btn btn-default" onclick="return checkon()">提交</button>
				</form>
					 <!--
            <script type="text/javascript">
		    function checkon() {
            var userNameCheck = $("#userNameCheck").attr('checked');
            var dateCheck = $("#dateCheck").attr('checked');
            var descCheck = $("#descCheck").attr('checked');
            if (!userNameCheck && !dateCheck && !descCheck) {
                alert("至少要勾选一个");
                return false;
            }
            return true;
        }
              </script>
                      -->
		</div>

	


		<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	</body>
</html>
